
<div class="container">
  <h1>Create new Bookmark</h1>

  <%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie %>
  <%= f.input :comment %>
  <%= f.submit %>
  <% end %>

  <%= link_to "back", list_path(@list) %>
  
</div>
